html body{
	margin: 0;
	padding: 0;
	background-color: grey;
	font: small-caps;
}
header{
	margin: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

section{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.one{
	position: relative;
	left: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 50%;
	background-color: white;
	margin: 20px;
}
.two{
	position: relative;
	left: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 40%;
	height: 50%;
	background-color: white;

}


.three{
	position: relative;]
	left: -20;
	display: flex;
	justify-content: center;
	align-items: center;
	width:150%;
	height: 150%;
	background-color: white 
	margin: 10px;
}
.four{
	position: relative;
	left: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200%;
	background-color: white;
	height:200%;
	margin:10px;
}
.five{
	position: relative;
	left: -20%;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: white;
	height: 100%;
	margin: 5px;
}
.six{
	position: relative;
	left: -20;
	justify-content: center;
	align-items: center;
	width: 300%;
	background-color: white;
	height: 300%;
	margin: 10px;

}
.sever{
	position: relative;
	left: 5%;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: white;
	height: 50%;
	margin: 5px;

}